body {
    font-family: 'Poppins', sans-serif;
}



HEAD section {
    height: 100px;
    background-color: white;
    border: solid black 1px;
}



.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    height: 250px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
    font-size: 30px;
}

li {

    text-decoration: none;
}

h1 {
    font-size: 100px;
}

section {
    height: 200px;
    background-color: white;
    margin-bottom: 150px;

}

.sub-section {
    height: 50px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {

    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0px;
}

h2 {
    font-size: 50px;
    margin: 0px;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 300px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
    margin: 0px;

}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;

}



.button {

    background-color: purple;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    padding: 8px 8px 8px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: red;
    cursor: pointer;
}

.button:active {
    background-color: green;
    color: grey;
    cursor: pointer;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 120px;
    margin: 10px;
}

.social {
    margin: 10px;
}


.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.project-card {
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 20px grey;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    width: 200px;

}